{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="center-child" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">

          <div class="row login">
            <div class="col-sm-12">

              <h1>Register</h1>

              <form method="post" action=".">
                {% csrf_token %}
                {{ form | crispy }}

                <input class="btn btn-primary"  type="submit" value="{% trans 'Submit' %}" />
              </form>

              <br>

              <p>Already a member? <a href="{% url 'auth_login' %}">Login</a></p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
