{% load staticfiles %}

<footer class="pre-footer">
  <div class="container">
    <div class="col-md-4">
      <h3>Fast SoAs</h3>
      <p>We deliver SoAs fast that usually require no rework, are compliant and easy to read. Its fast to order an SoA, about 3 minutes for a simple plan, up to a maximum of about 15 for the most complex. Our regular users enjoy maximum 5 day turnarounds, consistently, in all market conditions, in busy June as well as quiet January.</p>
      <a href="#" class="f-btn">
        <img src="{% static 'assets/img/f-btn-click-here.png' %}" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-md-4">
      <h3>Accurate SoA's</h3>
      <p>All plans are checked and rechecked by highly experienced staff before being returned to your office. Our quality control system tests for accuracy in regards to modeling as well as the written word.</p>
    </div>
    <div class="col-md-4">
      <h3>Professional Documents</h3>
      <p>We understand this document is a reflection of the professionalism of you and your business and we take special care to ensure the plan looks like the important document it is.</p>
      <a href="#" class="f-btn">
        <img src="{% static 'assets/img/f-btn.png' %}" alt="" class="img-responsive">
      </a>
    </div>
  </div>
</footer>
